html {
    height: 100%;
    margin: auto;
    width: 960px;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    font-family: courier, monospace;
    letter-spacing: 0.15em;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
}

.the-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
}

nav .bar-of-navigation {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px auto 20px auto;
    flex-wrap: wrap;
    z-index: 1;
}

nav .bar-of-navigation .logo img {
    height: 100%;
    width: 100%;
    max-height: 150px;
}

.bar-of-navigation .name {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.bar-of-navigation .menu {
    display: flex;
}

.bar-of-navigation .menu li {
    list-style: none;
    margin: 0 10px;
}

.menu li a {
    font-size: 17px;
    color: #000000;
    text-decoration: none;
}

.menu li a:hover {
    text-decoration: underline;
}


main {
    position: fixed;
    left: 50px;
    right: 50px;
    top: 200px;
    width: 90%;
    /* display: flex; */
    align-items: center;
    justify-content: space-around;
    margin: 20px auto 20px auto;
    z-index: 1;

}

main .intro {
    background-color: #F9E575;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px auto 20px auto;
    justify-content: space-evenly;
    padding: 20px;
    border: 8px #8335BA;
    border-style: solid;
}

/* main div section {
    align-items: center;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}*/

main div section img {
    max-width: 250px;
    max-height: 250px;
    display: flex;
    justify-content: flex-start;
    margin: 20px auto 20px auto;
}

p {
    text-align: left;
    width: 200;
    margin: 20px auto 20px auto;
    flex-wrap: wrap;
}

h4 {
    font-size: 20px
}

li {
    list-style-property: none;
}

hr {
    color: #000000;
}

#hello-there {
    padding: 20px auto;
    max-width: 500px;
}

main .intro {
    display: flex;
    flex-wrap: wrap;
}

main .work {
    background-color: #F9E575;
}

main .work img {
    max-width: 300px;
    height: 100%;
    padding: 20px auto;
}

//light purple: B16EE5
//dark purple: 8335BA

//light gold: F9E575
//dark gold: F5C64C

//light blue: ABBAFC
//dark blue: 7D8EF1