html {
    height: 100%;
    margin: auto;
    width: 960px;
    overflow: hidden;
}

* {
    box-sizing: border-box;
    font-family: courier, monospace;
    letter-spacing: 0.15em;
}

body {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    text-align: center;
}

header nav {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;

}

nav .bar-of-navigation {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px auto 20px auto;
    z-index: 1;
}

nav .bar-of-navigation .logo {
    height: 75px;
    width: 150px;
}

.bar-of-navigation .logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.bar-of-navigation .name-logo img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.bar-of-navigation .menu {
    display: flex;
}

.bar-of-navigation .menu li {
    list-style: none;
    margin: 0 10px;
}

.menu li a {
    font-size: 17px;
    color: #000000;
    text-decoration: none;
}

.menu li a:hover {
    text-decoration: underline;
}

main {
    position: fixed;
    left: 50px;
    right: 50px;
    top: 200px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 20px auto 20px auto;
    z-index: 1;

}

main .bio {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 20px auto 20px auto;
    justify-content: space-evenly;
    padding: 20px;
    column-count: 2;
    -moz-boz-shadow: -5px -5px #777777;
    -webkit-box-shadow: 5px 5px 5px #777777;
    box-shadow: 0 0 10px #777777;
}

main div section {
    align-items: center;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

main div section img {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: flex-start;
    margin: 20px auto 20px auto;
}

p {
    text-align: left;
    width: 200;
    margin: 20px auto 20px auto;
    flex-wrap: wrap;
}

h4 {
    font-size: 20px
}

li {
    list-style-property: none;
}

hr {
    color: #000000;
}

main .work {
    width: 80% height: 700px;
    -moz-boz-shadow: -5px -5px #777777;
    -webkit-box-shadow: 5px 5px 5px #777777;
    box-shadow: 0 0 10px #777777;
}



//light purple: B16EE5
//dark purple: 8335BA

//light gold: F9E575
//dark gold: F5C64C

//light blue: ABBAFC
//dark blue: 7D8EF1